bodbody {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 1.25em;
}

header h1 {
  margin: 0;
}
// Colors
$purple-color: #800080;
$orange-color: #ffa500;

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}
